<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <title>Dish Dash</title>
</head>
<body class="cart-body">

<!--Header section-->
<section class="header">
    <div class="container">
        <div class="header-left">
            <a th:href="@{/}" class="header-logo">
                <img th:src="@{/img/logo.png}" alt="Dish Dash Logo" class="header-logo__img">
            </a>
            <nav class="navbar">
                <!--                    <a href="" class="navbar__link"><img th:src="@{img/бургер.png}" class="burger"><span>категории</span></a>-->
                <a href="#category" class="navbar__link">меню</a>
                <a href="#news" class="navbar__link">акции</a>
                <a href="#about" class="navbar__link">почему мы</a>
                <a href="#contact" class="navbar__link">контакты</a>
            </nav>
        </div>
        <div class="header-right">
            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="sign-in-btn">войти</a>
            <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="sign-up-btn">регистрация</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="sign-up-btn">выйти</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile/}" class="profile"><img th:src="@{/img/profile.svg}" alt="profile image" ></a>
            <a sec:authorize="isAuthenticated()" th:href="@{/cart/}" class="cart"><img th:src="@{/img/cart.svg}" alt="cart image"></a>
        </div>
    </div>
</section>

<!--Cart section-->
<section class="cart-section">
    <div class="container cart-container">
        <p class="cart__title">КОРЗИНА</p>
        <div class="cart-list">
            <div class="columns">
                <span class="col">кол-во</span>
                <span class="col">цена</span>
            </div>
            <div th:each="cart : ${carts}" class="cart-item" th:data-index="${cart.getId()}">
                <div class="cart-item-col-1">
                    <img class="cart-item__img" th:src="@{/img/__${cart.food.img}__.png}" alt="Food">
                </div>
                <div class="cart-item-col-2">
                    <p class="cart-item__title" th:text="${cart.food.name}">шин рамЁн</p>
                    <p class="cart-item__subtitle" th:text="${cart.food.information}">Лапша рамён, острый бульон по южнокорейски, зелень, яйцо, морские водоросли</p>
                </div>
                <div class="cart-item-col-3">
                    <button class="cart-item__btn" data-action="minus">-</button>
                    <span class="quantity"><span th:text="${cart.count}" class="number">1</span> шт</span>
                    <button class="cart-item__btn" data-action="plus">+</button></div>
                <div class="cart-item-col-4">
                    <span class="price-text price-text-number" th:text="${cart.totalPrice}"></span> <span class="price-text">тг</span></div>
                <div class="cart-item-col-5">
                    <button class="delete">удалить</button></div>
            </div>
<!--            <div class="cart-item" data-index="1">-->
<!--                <div class="cart-item-col-1">-->
<!--                    <img class="cart-item__img" th:src="@{/img/randomFood.png}" alt="Food">-->
<!--                </div>-->
<!--                <div class="cart-item-col-2">-->
<!--                    <p class="cart-item__title">шин рамЁн</p>-->
<!--                    <p class="cart-item__subtitle">Лапша рамён, острый бульон по южнокорейски, зелень, яйцо, морские водоросли</p>-->
<!--                </div>-->
<!--                <div class="cart-item-col-3">-->
<!--                    <button class="cart-item__btn" data-action="minus">-</button>-->
<!--                    <span class="quantity"><span class="number">2</span> шт</span>-->
<!--                    <button class="cart-item__btn" data-action="plus">+</button></div>-->
<!--                <div class="cart-item-col-4">900 тг</div>-->
<!--                <div class="cart-item-col-5">-->
<!--                    <button class="delete">удалить</button></div>-->
<!--            </div>-->
        </div>
        <div class="cart-bot">
            <a th:href="@{/food/(name_category=Рекомендации)}" class="backPage">назад</a>
            <a th:href="@{/order/}" class="orderBtn cartBtn">оформить</a>
            <p class="total">итог : <span id="totalAmount">0</span> тг</p>
            <p class="empty-message" style="display: none;">Корзина пуста</p>
        </div>
    </div>
</section>


<!--Contact section-->
<section class="contact contact-back">
    <div class="container contact-container contact-container-line">
        <h5 class="contact-title contact-title-u">связаться с нами</h5>
        <div class="tel-block">
            <div class="tel-item">
                <img class="tel-item__img" th:src="@{/img/phone.svg}" alt="Phone">
                <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
            </div>
            <div class="tel-item">
                <img class="tel-item__img" th:src="@{/img/phone.svg}" alt="Phone">
                <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
            </div>
        </div>
        <div class="social-block">
            <a href="#" class="social-block__link">
                <img th:src="@{/img/facebook.svg}" alt="Facebook logo">
            </a>
            <a href="#" class="social-block__link">
                <img class="inst" th:src="@{/img/inst.svg}" alt="Instagram logo">
            </a>
            <a href="#" class="social-block__link">
                <img th:src="@{/img/tiktok.svg}" alt="Tiktok logo">
            </a>
        </div>
    </div>
</section>
<script th:src="@{/scripts/cart.js}"></script>
<script th:src="@{/scripts/order.js}"></script>
</body>
</html>