<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <title>Dish Dash</title>
</head>
<body class="cart-body profile-body">

<!-- header section-->
<section class="header">
  <div class="container">
    <div class="header-left">
      <a th:href="@{/}" class="header-logo">
        <img th:src="@{/img/logo.png}" alt="Dish Dash Logo" class="header-logo__img">
      </a>
      <nav class="navbar">
        <!--                    <a href="" class="navbar__link"><img th:src="@{img/бургер.png}" class="burger"><span>категории</span></a>-->
        <a th:href="@{/#category}" class="navbar__link">категории</a>
        <a th:href="@{/#news}" class="navbar__link">акции</a>
        <a th:href="@{/#about}" class="navbar__link">почему мы</a>
        <a th:href="@{/#contact}" class="navbar__link">контакты</a>
      </nav>
    </div>
    <div class="header-right">
      <a sec:authorize="isAnonymous()" th:href="@{/login}" class="sign-in-btn">войти</a>
      <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="sign-up-btn">регистрация</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="sign-up-btn">выйти</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/profile/}" class="profile profile-active"><img th:src="@{/img/profile.svg}" alt="profile image" ></a>
      <a th:href="@{/cart/}" class="cart">
        <img th:src="@{/img/cart.svg}" alt="cart" class="cart__img">
        <div class="count-of-orders" th:text="${count}">3</div>
      </a>
    </div>
  </div>
</section>

<!--Food section-->
<section class="cart-section">
  <form th:method="POST" th:action="@{/profile/edit/password}">
  <div class="container profile-container">
    <div class="profile-block">
      <p class="profile-block-text">Старый пароль </p>
      <input class="address-item__field" type="password" name="curpass" placeholder="Замена данных" style="width: 500px"/>
      <p class="errors" th:if="${errors.containsKey('curpass')}" style="color: red" th:text="${errors.get('curpass')}"></p>
    </div>
    <div class="profile-block">
      <p class="profile-block-text">Новый пароль</p>
      <input class="address-item__field" type="password" name="newpass" placeholder="Замена данных" style="width: 500px"/>
      <p class="errors" th:if="${errors.containsKey('newpass')}" style="color: red" th:text="${errors.get('newpass')}"></p>
    </div>
    <button type="submit" class="to-cart orderBtn profileBtn">Изменить</button>
  </div>
  </form>
</section>


<!--Contact section-->
<section class="contact contact-back">
  <div class="container contact-container contact-container-line">
    <h5 class="contact-title contact-title-u" style="color: transparent">связаться с нами</h5>
    <div class="tel-block">
      <div class="tel-item">
        <img class="tel-item__img" th:src="@{/img/phone.svg}" alt="Phone">
        <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
      </div>
      <div class="tel-item">
        <img class="tel-item__img" th:src="@{/img/phone.svg}" alt="Phone">
        <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
      </div>
    </div>
    <div class="social-block">
      <a href="#" class="social-block__link">
        <img th:src="@{/img/facebook.svg}" alt="Facebook logo">
      </a>
      <a href="#" class="social-block__link">
        <img class="inst" th:src="@{/img/inst.svg}" alt="Instagram logo">
      </a>
      <a href="#" class="social-block__link">
        <img th:src="@{/img/tiktok.svg}" alt="Tiktok logo">
      </a>
    </div>
  </div>
</section>



<script th:src="@{/scripts/food.js}"></script>
</body>
</html>