<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <title>Dish Dash</title>
</head>
<body>

<!--Header section-->
    <section class="header">
        <div class="container">
            <div class="header-left">
                <a href="index.html" class="header-logo">
                    <img th:src="@{img/logo.png}" alt="Dish Dash Logo" class="header-logo__img">
                </a>
                <nav class="navbar">
<!--                    <a href="" class="navbar__link"><img th:src="@{img/бургер.png}" class="burger"><span>категории</span></a>-->
                    <a href="#category" class="navbar__link">категории</a>
                    <a href="#news" class="navbar__link">акции</a>
                    <a href="#about" class="navbar__link">почему мы</a>
                    <a href="#contact" class="navbar__link">контакты</a>
                </nav>
            </div>
            <div class="header-right">
                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="sign-in-btn">войти</a>
                <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="sign-up-btn">регистрация</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="sign-up-btn">выйти</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/profile/}" class="profile"><img th:src="@{img/profile.svg}" alt="profile image" ></a>
                <a sec:authorize="isAuthenticated()" th:href="@{/cart/}" class="cart"><img th:src="@{img/cart.svg}" alt="cart image"></a>
            </div>
        </div>
    </section>

<!--Main section-->
    <section class="main">
        <div class="container main-container">
            <p class="main__title">
                <span class="type-one">Мир в каждой тарелке:</span><br>
                <span class="type-two">Вкусы Мира</span><br>
                <span class="type-three">до Вашей <br> Двери!</span>
            </p>
        </div>
    </section>

<!--Food section-->
<section class="food" id="category">
    <div class="container container-small container-small-wrap">
        <div class="food-top">
            <div class="food-start">
                <div class="back">
                    <div class="food-var">
                        <img th:src="@{img/kitchens.png}" alt="kitchens" class="food-var__img">
                        <p class="food-var__text">кухни</p>
                    </div>
                </div>
                <div class="slider-container">
                    <div class="slider">
                        <div class="food-var-item" th:each="kitchen : ${kitchens}">
                            <p class="food-var-item__text" th:text="${kitchen.name}">korean</p>
                            <img class="food-var-item__img" th:src="@{img/__${kitchen.img}__.png}" alt="Variable of food">
                        </div>
                        <div class="food-var-item">
                            <p class="food-var-item__text">italian</p>
                            <img class="food-var-item__img" th:src="@{img/randomFood1.png}" alt="Variable of food">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-arrows">
            <button class="prev"><img th:src="@{img/arrow.png}" alt="arrow" class="arrow arrow-prev"></button>
            <button class="next"><img th:src="@{img/arrow.png}" alt="arrow" class="arrow arrow-next"></button>
        </div>
        <div class="food-bot">
            <div class="up">
                <div class="up-item">
                    <div class="up-item up-item-category">
                        <svg class="up-item__img" xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none">
                            <rect width="17" height="2" fill="#ECB400"/>
                            <rect y="5" width="17" height="2" fill="#ECB400"/>
                            <rect y="10" width="17" height="2" fill="#ECB400"/>
                        </svg>
                        <span class="up-item__text primary-text cat">категория</span>
                        <form th:method="GET" th:action="@{/food/}">
                            <ul class="kitchen-list" id="kitchenList">
                                <li class="kitchenList__item"><a th:href="@{/food/(name_kitchen=${kitchen.name})}" class="kitchenList__link" th:each="kitchen : ${kitchens}" th:text="${kitchen.name}" th:value="${kitchen.name}">корейская</a></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="up-item">
                    <p class="up-item__recommended">рекомендации</p>
                </div>
                <div class="up-item">
                    <a th:href="@{/food/(name_category=Блюда)}" class="up-item__text">блюда</a>
                </div>
                <div class="up-item">
                    <a th:href="@{/food/(name_category=Cалаты)}" class="up-item__text">салаты</a>
                </div>
                <div class="up-item">
                    <a th:href="@{/food/(name_category=Десерты)}" class="up-item__text">десерты</a>
                </div>
                <div class="up-item">
                    <a th:href="@{/food/(name_category=Напитки)}" class="up-item__text">напитки</a>
                </div>
                <a th:href="@{/cart/}" class="cart">
                    <img th:src="@{img/cart.svg}" alt="cart" class="cart__img">
                </a>
            </div>
            <div class="bot">
                <div class="food-list">
                    <div class="food-item" th:each="food : ${foods}">
                        <div class="food-item-inner">
                            <img th:src="@{img/__${food.img}__.png}" alt="Food" class="food-item__img">
                            <p class="food-item__name" th:text="${food.name}">Шин рамен</p>
                            <p class="food-item__description" th:text="${food.information}">Лапша рамён, острый бульон по южнокорейски, зелень, яйцо, морские водоросли</p>
                            <p class="food-item__price"> <span class="food-item__price" th:text="${food.price}"></span>  <span class="food-item__price">тг</span></p>
                        </div>
                        <form th:method="POST" th:action="@{/cart/add}">
                            <input type="hidden" th:name="id" th:value="${food.id}">
                            <button type="submit" class="food-item__take">выбрать</button>
                        </form>
                    </div>
<!--                    <div class="food-item">-->
<!--                        <div class="food-item-inner">-->
<!--                            <img th:src="@{img/randomFood.png}" alt="Food" class="food-item__img">-->
<!--                            <p class="food-item__name">Шин рамен</p>-->
<!--                            <p class="food-item__description">Лапша рамён, острый бульон по южнокорейски, зелень, яйцо, морские водоросли</p>-->
<!--                            <p class="food-item__price">900 тг</p>-->
<!--                        </div>-->
<!--                        <button class="food-item__take">выбрать</button>-->
<!--                    </div>-->
<!--                    -->
                </div>

                <a th:href="@{/cart/}" class="to-cart">Перейти в корзину</a>
            </div>
        </div>
    </div>
</section>

<!--News section-->
<section class="news" id="news">
    <div class="container container-small container-small-wrap">
        <div class="news-top">
            <div class="news-start">

                <div class="slider-container-second">
                    <div class="slider-second">
                        <div class="slider-second-slide">
                            <img th:src="@{img/newsFirstImg.png}" alt="First news" class="news-slider">
                        </div>
                        <div class="slider-second-slide">
                            <img th:src="@{img/newsFirstImg.png}" alt="Second news" class="news-slider">
                        </div>
                        <div class="slider-second-slide">
                            <img th:src="@{img/newsFirstImg.png}" alt="Third news" class="news-slider">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="custom-arrows custom-arrows-second">
            <button class="prev-sec"><img th:src="@{img/arrow.png}" alt="arrow" class="arrow arrow-prev"></button>
            <button class="next-sec"><img th:src="@{img/arrow.png}" alt="arrow" class="arrow arrow-next"></button>
        </div>

       <div class="news-bottom">
           <img th:src="@{img/newsSecondImg.png}" alt="Second news" class="news-two">
           <img th:src="@{img/newsThirdImg.png}" alt="Third news" class="news-three">
       </div>
        <a href="#category" class="to-cart orderBtn">Заказать</a>
    </div>
</section>

<!--About section-->
<section class="about" id="about">
   <div class="container container-wrap">
       <h5 class="about-title">почему мы???</h5>
       <div class="about-box">
           <div class="about-item">
               <img th:src="@{img/aboutFirstImg.png}" alt="About Image" class="about-item__image" />
               <span class="about-item__title">быстрая доставка</span>
               <div class="about-item-inner">
                   <p class="about-item__text">Это быстрый и надежный способ получить свои любимые блюда из разных стран, не тратя времени на долгое ожидание</p>
               </div>
           </div>
           <div class="about-item">
               <img th:src="@{img/aboutSecondImg.png}" alt="About Image" class="about-item__image" />
               <span class="about-item__title">статус заказа</span>
               <div class="about-item-inner">
                   <p class="about-item__text">Мы предоставляем информацию о том, когда ваш заказ готовится, когда он отправляется и когда он будет у вас. Никаких неожиданностей, только ясность и комфорт</p>
               </div>
           </div>
           <div class="about-item">
               <img th:src="@{img/aboutThirdImg.png}" alt="About Image" class="about-item__image" />
               <span class="about-item__title">большой ассортимент</span>
               <div class="about-item-inner">
                   <p class="about-item__text">Это множество разнообразных блюд из разных кухонь мира, чтобы удовлетворить даже самых изысканных вкусовых предпочтений</p>
               </div>
           </div>
       </div>
       <a href="#category" class="to-cart orderBtn">Заказать</a>
   </div>
</section>

<!--Contact section-->
<section class="contact" id="contact">
    <div class="container contact-container">
        <h5 class="contact-title">связаться с нами</h5>
        <div class="tel-block">
            <div class="tel-item">
                <img class="tel-item__img" th:src="@{img/phone.svg}" alt="Phone">
                <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
            </div>
            <div class="tel-item">
                <img class="tel-item__img" th:src="@{img/phone.svg}" alt="Phone">
                <a href="tel:+ 901 205 16  26" class="tel-item__number">+ 901 205 16  26</a>
            </div>
        </div>
        <div class="social-block">
            <a href="#" class="social-block__link">
                <img th:src="@{img/facebook.svg}" alt="Facebook logo">
            </a>
            <a href="#" class="social-block__link">
                <img class="inst" th:src="@{img/inst.svg}" alt="Instagram logo">
            </a>
            <a href="#" class="social-block__link">
                <img th:src="@{img/tiktok.svg}" alt="Tiktok logo">
            </a>
        </div>
    </div>
</section>


<script th:src="@{scripts/slider.js}"></script>
</body>
</html>