<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <title>Dish Dash</title>
</head>
<body class="cart-body">



<!--Food section-->
<section class="cart-section sinin-section">
    <form  method="post" action="/process_login" class="signin-left">
        <div class="container profile-container signin-container">
            <p class="sign-in__title">Войти</p>
            <div class="sign-in-block">
                <p class="sing-in__text">Эл. почта</p>
                <input class="address-item__field address-item__field-u" type="email" id="username" name="username" placeholder="Пожалуйста введите свои данные "/>
            </div>
            <div class="sign-in-block">
                <p class="sing-in__text">Пароль</p>
                <input class="address-item__field address-item__field-u" type="password" id="password" name="password" placeholder="Пожалуйста введите свои данные "/>
            </div>
            <p th:if="${param.error}" style="color: red">Неправильная почта или пароль</p>
            <button class="to-cart orderBtn profileBtn signBtn">Войти в аккаунт</button>
            <a th:href="@{/registration}" class="dontHave">Нет аккаунта? Регистрация</a>
        </div>
    </form>
    <div class="signin-right">
        <img class="signin__img" th:src="@{/img/BIGLOGO.png}" alt="DISH DASH LOGO">
    </div>


</section>

<script th:src="@{/scripts/food.js}"></script>
</body>
</html>